/* styling footer */

.footer {
  padding: 0px 20px 26px 19px;
  margin-top: 46px;
  background-color: #efefef;
  height: 480px;
  width: 100%;
}

.footer-img {
  position: relative;
  margin-top: 42px;
  margin-left: 0px;
  height: 24px;
  width: 100px;
}
.footer-address {
  position: relative;
  margin-top: 28px;
  margin-left: 0px;
  height: 95px;
  /* width: 100%; */
}
.subscribe-new {
  position: relative;
  height: 113px;
  left: 0cm;
  top: 63px;
  /* width: fit-content; */
}
#sub {
  position: relative;
  margin-top: 0px;
  height: 54px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  /* width: 100%; */
}
.newsletter {
  display: flex;
  align-items: center;

  border: 2px solid #d9d9d9;
  position: relative;
  margin-top: 19px;
  width: 100%;
  height: 40px;

  width: 200px;
}
/* .hr_line {
  position: relative;
  margin-bottom: 22px;
  margin-top: 102.02px;

  width: 90%;
  margin: 0 auto;
} */
.copyright-new {
  position: relative;

  height: 45.98px;
  left: 0px;
  margin-top: 102.02px;

  /* width: 100%; */
}

#location,
#mail,
#phone {
  margin: 14px 0;
  display: flex;
  align-items: center;
}
#footer-icon {
  width: 20px;
  height: 20px;
  margin-right: 17px;
}

#add {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  height: 21px;
}
#holder {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;

  margin-left: 14px;
  border: 0px;
}
#chevron {
  width: 49px;
  height: 40px;
  left: 107px;
  top: 0px;

  cursor: pointer;
  border: 2px solid #d9d9d9;

  background: #d9d9d9;
}

/* styling footer user media queries */

@media (min-width: 540px) and (max-width: 744px) {
  .subscribe-new {
    display: flex;
    justify-content: space-between;
  }
  #sub {
    margin: 0 0 30px;
  }
}

@media (min-width: 744px) {
  .subscribe-new {
    display: flex;
    justify-content: space-between;
  }
  #sub {
    margin: 0 0 30px;
  }
}
